* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    max-height: 100%;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column; 
}

.container {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
}

.content {
    flex: 1 1 auto;
}

/* ---------------------- header ------------------------- */

/* -------- header-menu ------------ */

.header-menu {
    background-color: #ba0000;
    padding: 17px 0;
}

.header-menu-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.h-m-1, .h-m-2 {
    font-size: 14px;
    color: #fff;
}

.h-m-1 {
    display: flex;
}
 
.h-m-2 {
    display: flex;
    /* margin-left: 70%; */
}
.contact-center {
    margin-right: 25px;
    margin-left: 3px;
}

.contact-center a {
    color: #fff;
}

.icon-contact img {
    height: 18px;
    width: 18px;
}

select {
    background-color: #ba0000;
    color: #fff;
}

option {
    color: #fff;
}

/* -------------- main-menu ---------------- */

.main-menu {
    background-color: #ffcc00;
    padding: 40px 0;
}

.main-menu-row {
    display: flex;
    width: 100%;
}

.main-nav {
    display: flex;
    align-self: center;
}

.main-nav a {
    font-size: 16px;
    color: #ba0000;
    padding: 50px 0;
}

.main-nav a:hover {
    font-weight: bold;
    border-bottom: 6px solid #ba0000;
}
.main-nav div {
    margin: 0 25px;
}

.main-logo {
    display: flex;
    margin-right: 100px;
}

.search {
    background-color: #ba0000;
    padding: 15px;
    border-radius: 100px;
    width: 20px;
    text-align: center;
    margin-left: 16%;
    box-shadow: 0 10px 16px rgba(186,0,0,.50);
}

.search:hover {
    box-shadow: 0 10px 16px rgba(186,0,0,.80);
}

/* ------------ slider -------------- */

.slider { 
    padding: 180px 0 160px 0;
    background-image: url('../images/bg1.png');
} 


.main-h1 h1 {
    color: #fff;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 40px;
}

.yellow-line {
    width: 100px;
    height: 4px;
    background-color: #ffcc00;
}

.slider-text {
    margin-top: 35px;
}

.slider-text p {
    font-size: 20px;
    line-height: 30px;
    color: #ffcc00;
}

.slider-text-2 {
    font-size: 20px;
    color: #fff;
    display: flex;
    font-weight: bold;
    margin-top: 45px;
}

.yellow-dot {
    width: 5px;
    height: 5px;
    background-color: #ffcc00;
    border-radius: 100%;
    align-self: flex-end;
    margin: 0 35px;
}

.slider-button {
    display: flex;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    margin-top: 42px;
}

.button-1, .button-2 {
    padding: 15px 35px;
    border: 2px solid white;
    border-radius: 56px;
}

.button-1 {
    margin-right: 20px;
}

.button-1:hover, .button-2:hover {
    color: #ba0000;
    background-color: #ffcc00;
    border: none;
}

/* --------------------------------- header end ------------------------ */

/* -------------------------------- services ---------------------------- */

.services {
    padding: 120px 0;
    background-color: #fff;
}

.services-row h2 {
    font-size: 50px;
    font-weight: bold;
    color: #ba0000;
}

.services-blocks {
    display: flex;
    margin-top: 110px;
}

.services-block {
    width: 270px;
    height: 340px;
    background-color: #fff;
    display: flex;
    margin-right: 30px;
    flex-direction: column;
}

.services-block img {
    max-height: 180px;
}

.services-block h3 {
    font-size: 18px;
    color: #ba0000;
    margin-top: 18px;
    font-weight: 800;
}

.services-block p {
    font-size: 16px;
    line-height: 26px;
    color: #777777;
    margin-top: 16px;
}

.services-block a {
    color: black;
    font-size: 16px;
    font-weight: 800;
    margin-top: 3px;
}

#triangle::after {
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-left: 8px solid #ba0000;
    margin-left: 10px;
    margin-top: 5px;
}

.location-form {
    margin-right: 0px;
    background-color: #ba0000;
}

.location-form h3 {
    color: #fff;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 20px;
}

.location-form .yellow-line-2 {
    width: 70px;
    height: 2px;
    background-color: #ffcc00;
    margin-top: 25px;
    margin-left: 30px;
}

.location-form p {
    color: #fff;
    margin: 25px 30px 0 30px;
}

.select-location {
    font-size: 16px;
    color: #fff;
    width: 160px;
    height: 50px;
    background-color: #9d0000;
    margin: 35px 0 0 30px;
}

.select-location p {
    margin: 12px 0 0 20px;
}

.select-location::after {
    content: url(../images/loc-select.png);
    position: relative;
    left: 100%;
    bottom: 38px;
}

.button-expl {
    padding: 18px;
    margin: 23px 80px 0 30px;
    font-size: 12px;
    color: #fff;
    font-weight: 800;
    border: 2px solid white;
    border-radius: 50px;
    text-align: center;
}

.button-expl:hover {
    color: #ba0000;
    background-color: #ffcc00;
    border: 2px solid #ffcc00;
}

/* ------------------------------------ services end ---------------------------------- */

.about {
    padding: 145px 0 335px 0;
    background-image: url(../images/bg-about.png);
}

.about h1 {
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.button-play-row {
    justify-content: center;
    margin-top: 57px;
}

/* ---------------------------------- slider about ----------------------------- */

.slider-about-row {
    margin-top: -200px;
    padding-bottom: 100px;
}

.slider-block {
    width: 370px;
    height: 410px;
    background-color: #fff;
    margin-right: 30px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
}

.block-3 {
    margin-right: 0px;
}

.slider-block h3 {
    font-size: 20px;
    color: #ba0000;
    font-weight: 800;
    margin: 15px 0 0 25px;
}

.slider-block ul {
    list-style-type: none;
    margin: 25px 0 0 43px;
}

.slider-block li {
    font-size: 16px;
    color: #777777;
    margin-bottom: 14px;
}

.slider-block li::before {
    content: '';
    position: absolute;
    border: 8px solid transparent;
    border-left: 10px solid #ffcc00;
    margin-left: -25px;
}

.slider, .about {
    background-size: cover;
}

/* ------------------------------- slider about end ----------------------- */

/*-------------------------------- express-logistics -----------------------*/

.express-logistics-row {
    justify-content: space-between;
    padding-bottom: 100px;
}

.left-block {
    height: 535px;
    width: 570px;
    background-color: #BA0000ff;
    display: flex;
    flex-wrap: wrap;
}

.right-block {
    width: 470px;
    height: 535px;
    background-image: url(../images/express-logistics-photo.png);
}

.line-high-express {
    height: 50px;
    width: 285px;
    margin-bottom: 55px;
}

.line-high-logistics {
    background-color: #ffcc00;
    height: 50px;
    width: 285px;
}

.line-high-express p {
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: 800;
    padding-top: 14px;
}

.line-high-logistics p {
    text-align: center;
    font-size: 15px;
    color: #ba0000;
    font-weight: 800;
    padding-top: 14px;
}

.filter {
    width: 435px;
    margin-top: -12%;
    margin-left: 40px;
}

.filter p {
    color: #fff;
    font-size: 16px;
    border: 2px solid;
    padding: 15px;
    margin-bottom: 20px;
}

.filter p.track::after {
    content: url(../images/select-filter.png);
    position: absolute;
    margin-left: 273px;
    border: 2px solid;
    padding: 15px 19px 15px 22px;
    margin-top: -17px;
}

.filter p.login::after {
    content: url(../images/select-filter.png);
    position: absolute;
    margin-left: 347px;
    border: 2px solid;
    padding: 15px 19px 15px 22px;
    margin-top: -17px;
}

.filter p.find-point::after {
    content: url(../images/select-filter.png);
    position: absolute;
    margin-left: 311px;
    border: 2px solid;
    padding: 15px 19px 15px 22px;
    margin-top: -17px;
}

.filter p.find-service {
    font-size: 14px;
    font-weight: 800;
    background-color: #ffcc00;
    border: 2px solid #ffcc00;
    color: #ba0000;
}

.filter p.find-service::after {
    content: url(../images/filter-select-2.png);
    position: absolute;
    margin-left: 295px;
    padding: 19px 21px 15px 22px;
    margin-top: -17px;
    background-color: #ffcc00;
}

.low-block {
    height: 140px;
    width: 486px;
    background-color: #A30000FF;
    margin-top: -20px;
    border-left: 2px solid #ffcc00;
    border-bottom: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
}

.low-block h3 {
    font-size: 16px;
    color: #fff;
    padding: 17px;
}

.low-block ul {
    list-style-type: none;
    font-size: 16px;
    color: #fff;
    margin: 0 0 0 40px;
}

.low-block li {
    margin-bottom: 6px;
}

.low-block li::before {
    content: '';
    position: absolute;
    border: 6px solid transparent;
    border-left: 7px solid #ffcc00;
    margin-left: -21px;
    margin-top: 3px;
}

/*-------------------------------- express-logistics  end -----------------------*/

/* -------------------------------- features ----------------------------------- */

.features {
    padding: 95px 0;
    background-color: #ba0000;
}

.left-side {
    width: 54%;
}

.left-side h1 {
    color: #fff;
    font-size: 25px;
}

.left-side p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    margin-top: 35px;
}

.right-side {
    width: 46%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-side a {
    font-size: 12px;
    font-weight: bd;
    color: #fff;
    padding: 17px 35px;
    background-color: #A30000FF;
    font-weight: 800;
    border-radius: 50px;
}

.right-side a:hover {
    color: #ba0000;
    background-color: #ffcc00;
}

/* -------------------------------- features end ----------------------------------- */

.clients {
    background-color: #fff;
    padding: 70px 0;
}

.client-1, .client-2, .client-3 {
    margin-right: 30px;
}

.last-photo {
    margin-right: 0;
}

.clients img:hover {
    border: 2px solid #ba0000;
}

/* ------------------------------ footer ------------------------------------------- */

.footer {
    display: flex;
    justify-content: space-between;
}

.left-side-photo {
    display: flex;
    width: 415px;
    height: 311px;
}
.right-side-photo {
    display: flex;
}

.footer-row {
    margin-top: -311px;
    padding: 57px 0 52px 0;
    background-color: #fff;
}

.footer-row h3 {
    font-size: 19px;
    font-weight: 800;
    margin-bottom: 35px;
    color: #ba0000;
}

.footer-row ul {
    list-style-type: none;
    margin-left: 23px;
}

.footer-row a {
    font-size: 14px;
    font-weight: 600;
    color: #777777;
}

.footer-row a:hover {
    color: #ffcc00;
}

.footer-row li {
    margin-bottom: 10px;
}

a.active {
    color: #ffcc00;
}

a.active-1 {
    color: #017EDFFF;
}

.footer-row li::before {
    content: '';
    position: absolute;
    border: 6px solid transparent;
    border-left: 7px solid #ba0000;
    margin-left: -21px;
    margin-top: 3px;
}

.social-media a:hover {
    color: #017EDFFF;
}

.cont-center {
    margin: 0 175px 0 117px;
}

.about-us {
    margin-right: 85px;
}

/* --------------------------------- footer end ------------------------------- */

/* -------------------------------- adaptive ------------------------------- */

/* -------------------------------- 1780px ------------------------------ */

@media screen and (max-width:1780px) {
    .left-side-photo img {
        width: 347px;
    }
}

/* -------------------------------- 1680px ------------------------------ */

@media screen and (max-width:1680px) {
    .left-side-photo img {
        display: none;
    }

    .right-side-photo img {
        display: none;
    }

    .footer {
        background-position: bottom;
        background-image: url('../images/bg-footer-adaptive.png')
    }

    .footer-row {
        background-position: bottom;
        background-image: url('../images/bg-footer-adaptive.png')
    }

    .footer-row h3 {
        color: #fff;
    }

    .footer-row a {
        color: #fff;
    }

    .footer-row a.active {
        color: #ffcc00;
    }
    
    .footer-row a.active-1 {
        color: #017EDFFF;
    }
}

/* -------------------------------- 1024px ------------------------------ */

@media screen and (max-width:1024px) {
    .h-m-1 {
        margin-left: 20px;
    }

    .h-m-2 {
        margin-right: 20px;
    }

    .main-logo {
        margin: 0 60px 0 30px;
    }

    .search {
        margin-left: 3%;
    }

    .slider-column {
        margin-left: 50px;
    }

    .services-row h2 {
        margin-left: 50px;
    }

    .services-blocks {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .services-block-1 {
        margin-left: 35px;
    }

    .location-form {
        margin-top: 90px;
    }

    .slider-about-row {
        margin-top: 100px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .block-2 {
        margin-right: 0;
        margin-left: 45px;
    }

    .block-3 {
        margin-top: 70px;
    }

    .express-logistics-row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .right-block {
        margin-top: 70px;
    }

    .features-row {
        flex-direction: column;
        align-items: center;
    }

    .left-side {
        width: 70%;
        text-align: center;
    }

    .right-side {
        width: 16%;
        margin-top: 60px;
    }

    .clients-row {
        flex-wrap: wrap;
        width: 60%;
    }

    .client-2 {
        margin-right: 0;
    }

    .client-3, .last-photo {
        margin-top: 30px;
    }
}

/* -------------------------------- 768px ------------------------------ */

@media screen and (max-width:768px) {
    .main-menu-row {
        flex-direction: column;
        align-items: center;
    }

    .main-logo {
        margin: 0 60px 22px 30px;
    }

    .search {
        margin-left: -3%;
        margin-top: 30px;
    }

    .main-nav a:hover {
        font-weight: bold;
        border-bottom: none;
    }

    .services-block-3 {
        margin-top: 50px;
        margin-left: 30px;
    }

    .location-form {
        margin-top: 50px;
        margin-right: 19px;
    }

    .slider-about-row {
        flex-direction: column;
        align-items: center;
    }

    .slider-block {
        margin-right: 0;
    }

    .block-2 {
        margin: 70px 0 0 0;
    }

    .right-side {
        width: 21%;
    }

    .clients-row {
        width: 100%;
        justify-content: center;
    }

    .cont-center {
        margin: 0 60px 0 23px;
    }

    .about-us {
        margin-right: 60px;
    }

    .footer-row li {
        margin-bottom: 27px;
    }
}

/* -------------------------------- 450px ------------------------------ */

@media screen and (max-width:450px) {
    .main-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-nav div {
        margin: 20px 29px;
    }

    .main-nav a:hover {
        font-weight: normal;
        border-bottom: none;
    }

    .slider {
        padding: 75px 0 85px 0;
    }

    .main-h1 h1 {
        font-size: 50px;
        line-height: 70px;
    }

    .slider-column {
        margin-left: 38px;
    }

    .slider-text p {
        font-size: 14px;
        line-height: 26px;
    }

    .slider-text-2 {
        font-size: 14px;
        margin-top: 39px;
    }

    .button-2 {
        margin-left: 19px;
    }

    .services {
        padding: 50px 0;
    }

    .services-row h2 {
        font-size: 35px;
        margin-left: 0;
        text-align: center;
    }

    .services-blocks {
        margin-top: 50px;
    }

    .services-block-2 {
        margin: 50px 30px 0 30px;
    }

    .location-form {
        margin: 50px 20px 0 20px;
    }

    .about {
        padding: 90px 0 15px 0;
    }

    .about h1 {
        font-size: 30px;
    }

    .slider-about-row {
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .block-2, .block-3 {
        margin: 50px 0 0 0;
    }

    .left-block, .right-block {
        display: none;
    }

    .express-logistics-row {
        padding-bottom: 0;
    }

    .features {
        padding: 45px 0;
    }

    .left-side h1 {
        color: #fff;
        font-size: 20px;
    }

    .left-side p {
        font-size: 14px;
        line-height: 22px;
        margin-top: 24px;
    }

    .right-side {
        width: 36%;
        margin-top: 38px;
    }

    .clients-row img {
        width: 170px;
    }

    .clients {
        padding: 50px 0;
    }

    .footer-row {
        flex-direction: column;
        padding: 0px 0 40px 0;
    }

    .footer-row h3 {
        font-size: 16px;
        margin-bottom: 26px;
    }

    .footer-row a {
        font-size: 12px;
    }

    .footer-row li {
        margin-bottom: 11px;
    }

    .cont-center, .about-us, .social-media {
        margin: 20px 0px 0 35px;
    }
}

/* -------------------------------- 414px ------------------------------ */

@media screen and (max-width:414px) {
    .slider {
        padding: 50px 0 60px 0;
    }

    .slider-column {
        margin-left: 30px;
    }

    .main-h1 h1 {
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 28px;
    }

    .slider-text p {
        font-size: 13px;
        line-height: 23px;
    }

    .slider-text-2 {
        font-size: 13px;
        margin-top: 28px;
    }

    .slider-button {
        margin-top: 55px;
    }

    .button-2 {
        margin-left: 0px;
    }

    .about h1 {
        font-size: 25px;
    }

    .right-side {
        width: 39%;
    }
}

/* -------------------------------- 375px ------------------------------ */

@media screen and (max-width:375px) {
    .contact-center {
        margin-right: 14px;
    }

    .main-h1 h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .slider-column {
        margin-left: 23px;
    }

    .slider-text p {
        font-size: 12px;
        line-height: 26px;
    }

    .yellow-dot {
        margin: 0 30px;
    }

    .slider-button {
        font-size: 11px;
    }

    .slider-about-row img {
        width: 340px;
    }

    .slider-block {
        width: 340px;
        height: 400px;
    } 

    .right-side {
        width: 43%;
    }

    .clients-row img {
        margin: 5px;
    }

    .about h1 {
        font-size: 23px;
    }
}

/* -------------------------------- 360px ------------------------------ */

@media screen and (max-width:360px) {
    .header-menu-row {
        flex-direction: column-reverse;
    }

    .h-m-1 {
        margin-top: 15px;
    }

    .h-m-2 {
        margin: 0px 0 0 15px;
    }

    .country-profile {
        margin-left: 95px;
    }

    .slider-column {
        margin-left: 12px;
    }

    .main-h1 h1 {
        font-size: 31px;
        line-height: 36px;
    }

    .slider-about-row img {
        width: 310px;
    }

    .slider-block {
        width: 310px;
        height: 385px;
    }

    .right-side {
        width: 45%;
    }

    .clients-row img {
        margin: 6px;
    }
}

/* -------------------------------- 320px ------------------------------ */

@media screen and (max-width:320px) {
    .country-profile {
        margin-left: 54px;
    }

    .main-logo {
        margin: 0 30px 22px 30px;
    }

    .slider {
        padding: 30px 0 45px 0;
    }

    .main-h1 h1 {
        font-size: 27px;
        line-height: 34px;
        margin-bottom: 20px;
    }

    .slider-text {
        margin-top: 23px;
    }

    .slider-text p {
        font-size: 11px;
        line-height: 22px;
    }

    .yellow-dot {
        margin: 0px 21px;
    }

    .button-1 {
        margin-right: 22px;
    }
    
    .button-1, .button-2 {
        padding: 11px 23px;
    }

    .services-row h2 {
        font-size: 28px;
    }

    .services-block {
        margin-right: 22px;
    }

    .slider-about-row img {
        width: 290px;
    }

    .slider-block {
        width: 290px;
        height: 376px;
    }

    .services-block {
        margin-right: 14px;
    }

    .about h1 {
        font-size: 20px;
    }

    .right-side {
        width: 50%;
    }
}

/* ------------------------------ end ------------------------------------- */